canvas {
    border:1px solid #000000;
}

/* Ellipse and Point list styling */
#ellipse_list {
    margin-top: 10px;
}
#ellipse_list li {
    cursor: pointer;
}

#point_list {
    margin-top: 10px;
}
#point_list li {
    cursor: pointer;
}

.color_button {
    height: 20px;
    width: 20px;
}